<h1>RelayPoints#index</h1>
<p>Find me in app/views/relay_points/index.html.erb</p>
<% @relay_points.each do |relay_point| %>
  <%= relay_point.name %>
  <%= relay_point.description %>
  <%= relay_point.address %>
  <%= relay_point.zip_code  %>
  <%= relay_point.country  %>
  <%= relay_point.city %>
  <%= relay_point.phone %>
  <%= relay_point.email %>
<% end %>
