<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p><i class="fa-solid fa-arrow-left-long"></i> Retour au magasin</p>
            <div class="basket__header">
                <div class="basket__header--title">
                    <h1>Détail panier</h1>
                    <h2>(Nb produit)</h2>
                </div>

                <div class="basket__header--tarif">
                    <p class="basket__header--tarif--p me-4">Total : XXX</p>
                    <%= link_to "Valider mon panier", products_path, class: "basket__header--tarif--a bg-primary" %>
                </div>
            </div>

            <p><i class="fa-regular fa-house-user"></i></p>

            <!-- tableau du panier-->
            <% @basket_items_by_category.each do |category, basket_items| %>
                <details>
                    <summary class="title"><%= category %></summary>
                    <table data-controller="calcul-tarif">
                        <% basket_items.each do |basket_item| %>
                            <tr class="table__line">
                                <td><%= cl_image_tag(basket_item.product.photo.key, width: 50, height: 50, crop: :fill) %></td>
                                <td><strong><%= basket_item.product.name %></strong> </td>
                                <td><%= basket_item.product.pricing   %> €  <input type="hidden" class="table__line--tarif" value=<%= basket_item.product.pricing%>></td>
                                <td><button class="table__line__btn--moins"><i class="fa-solid fa-circle-plus"></i></button></td>
                                <td><input type="text" name="qte" min="0" max=<%= basket_item.product.quantity %> value=<%= basket_item.quantity %> class="table__line--qte" data-action="change->calcul-tarif#calculTarif"></td>
                                <td> <button class="table__line__btn"><i class="fa-solid fa-circle-minus"></i></button></td>
                                <td><input type="number" name="qte-tot" class="table__line--tot"></td>

                                <td><p class="table__line--tot"></p></td>
                            </tr>
                        <% end %>
                    </table>
                </details>
                 <div class="my-4"></div>
            <% end %>


            <ul>
                <% @basket_items.each do |basket_item| %>
                    <li><%= basket_item.product.name %> x<%= basket_item.quantity %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
