<% @products.each do |product| %>
<div class="deiv">
  <div class="card__product">
    <div class="card__product__img--wrapper">
      <%= cl_image_tag product.photo.key, class: "card__product__img" %>
    </div>
    <div class="card__product__content">
      <div class="card__product__infos">
        <p><%= product.name %></p>
        <p class="card__product__price"><%= product.pricing %><sup>€</sup></p>
      </div>
      <p>Quantité disponible : <%= product.quantity %></p>
      <p><%= product.description %></p>
      <%= link_to "Voir produit", product_path(product.id), class: "btn btn-primary card__prodcut__btn" %>
    </div>
  </div>

  <div class="card__product--2">
    <div class="card__product__img--wrapper--2">
      <%= cl_image_tag product.photo.key, class: "card__product__img--2" %>
    </div>
    <div class="card__product__infos--2">
      <p><%= product.name %></p>
      <p><%= product.description %></p>
    </div>
  </div>
</div>
<% end %>