<section class="section__show__product">
  <div class="container-medium">
    <%= link_to products_path, class: "decoration-none" do %>
      <span class="btn-return"><i class="fa-solid fa-arrow-left"></i>Retour aux produits</span>
    <% end %>
    <h1><%= @product.name %></h1>
    <div class="show__product__content">
      <div class="show__product__infos">
        <div class="show__product__img--wrapper">
          <%= cl_image_tag @product.photo.key, class: "show__product__img" %>
        </div>
        <div class="show__product__infos--top">
          <p><%= @product.quantity %> unité(s) disponible</p>
          <p><%= @product.pricing %>€ / unitée</p>
        </div>
        <div class="divider"></div>
        <h3>Description</h3>
        <p><%= @product.description %></p>
      </div>
      <div class="show__product__wrapper">
      <p class="show__product__tag"><%= @product.category %></p>
        <div class="show__product__form shadow-sm">
          <p class="show__product__pricing"><%= @product.pricing %>€</p>
          <%= simple_form_for([@product, @basket_item]) do |f| %>
            <div class="show__form__input--wrapper">
              <%= f.input :quantity, label: false,
                        wrapper_html: { class: "show__form__input"},
                        input_html: { min: 0, max: @product.quantity } %>
              <%= f.submit 'Ajouter au pannier', class: "btn btn-primary" %>
            </div>
          <% end %>
          <div class="divider"></div>
          <button class="btn btn-primary">Voir le panier</button>
        </div>
      </div>
    </div>
  </div>
</section>